<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta author="liuwill">
    <title>hero展示</title>
    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/styles/show_hero.css"/>
</head>
<body>
<div class="hero-body">
    <div class="hero-navi">
        <div class="navi-container">
            <div class="navi-logo pull-left">
                <a href="/">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    <span class="logo-text">LiuWill</span>
                </a>
            </div>
            <div class="navi-menu pull-left">
                <ul class="menu-list">
                    <li class="menu-item"><a href="">首页</a></li>
                    <li class="menu-item"><a href="">产品</a></li>
                    <li class="menu-item"><a href="">场景</a></li>
                    <li class="menu-item"><a href="">案例</a></li>
                    <li class="menu-item"><a href="">关于</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <div class="hero-top">
            <div class="top-main"></div>
            <div class="top-footer"></div>
        </div>

        <!--((.hero-level-block.level-block$>.block-contont>.block-box>(.block-col.desc)+(.block-col.img>.img-part.img-i1))+.hero-level-img.level-img$)*6-->
        <div class="hero-level-block level-block1">
            <div class="block-contont">
                <div class="block-box">
                    <div class="block-col desc"></div>
                    <div class="block-col img">
                        <div class="img-part img-i1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-level-img level-img1"></div>
        <div class="hero-level-block level-block2">
            <div class="block-contont">
                <div class="block-box">
                    <div class="block-col desc"></div>
                    <div class="block-col img">
                        <div class="img-part img-i2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-level-img level-img2"></div>
        <div class="hero-level-block level-block3">
            <div class="block-contont">
                <div class="block-box">
                    <div class="block-col desc"></div>
                    <div class="block-col img">
                        <div class="img-part img-i3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-level-img level-img3"></div>
        <div class="hero-level-block level-block4">
            <div class="block-contont">
                <div class="block-box">
                    <div class="block-col desc"></div>
                    <div class="block-col img">
                        <div class="img-part img-i4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-level-img level-img4"></div>
        <div class="hero-level-block level-block5">
            <div class="block-contont">
                <div class="block-box">
                    <div class="block-col desc"></div>
                    <div class="block-col img">
                        <div class="img-part img-i5"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-level-img level-img5"></div>
        <div class="hero-level-block level-block6">
            <div class="block-contont">
                <div class="block-box">
                    <div class="block-col desc"></div>
                    <div class="block-col img">
                        <div class="img-part img-i6"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-level-img level-img6"></div>

        <div class="hero-level-block level-block7">
            <div class="block-contont">
                <div class="block-box">
                    <div class="block-col desc"></div>
                    <div class="block-col img">
                        <div class="img-part img-i6"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-footer"></div>
        <div class="hero-bottom"></div>
    </div>
</div>
</body>
</html>